name: build(deps)

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    paths:
      - 'Utilities/Release/linux/**/base/**'
      - 'Utilities/Release/linux/**/deps/**'
  push:
    branches:
      - master
    paths:
      - 'Utilities/Release/linux/**/base/**'
      - 'Utilities/Release/linux/**/deps/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: amd64
            platform: x86_64
            runner: ubuntu-24.04
          - arch: arm64
            platform: aarch64
            runner: ubuntu-24.04-arm
          - arch: loong64
            platform: loongarch64
            runner: ubuntu-24.04
          - arch: ppc64le
            platform: ppc64le
            runner: ubuntu-24.04
          - arch: riscv64
            platform: riscv64
            runner: ubuntu-24.04
          - arch: s390x
            platform: s390x
            runner: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push base image
        uses: docker/build-push-action@v6
        with:
          context: Utilities/Release/linux/${{ matrix.platform }}/base
          platforms: linux/${{ matrix.arch }}
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/kitware/cmake:build-linux-${{ matrix.platform }}-base
          outputs: type=image,oci-mediatypes=true,compression=zstd,compression-level=3,force-compression=true
          cache-from: type=ghcr.io/${{ github.repository_owner }}/kitware/cmake:build-linux-${{ matrix.platform }}-base-buildcache
          cache-to: type=registry,ref=ghcr.io/${{ github.repository_owner }}/kitware/cmake:build-linux-${{ matrix.platform }}-base-buildcache,mode=max

      - name: Build and Push deps image
        uses: docker/build-push-action@v6
        with:
          context: Utilities/Release/linux/${{ matrix.platform }}/deps
          platforms: linux/${{ matrix.arch }}
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/kitware/cmake:build-linux-${{ matrix.platform }}-deps
          outputs: type=image,oci-mediatypes=true,compression=zstd,compression-level=3,force-compression=true
          cache-from: type=ghcr.io/${{ github.repository_owner }}/kitware/cmake:build-linux-${{ matrix.platform }}-deps-buildcache
          cache-to: type=registry,ref=ghcr.io/${{ github.repository_owner }}/kitware/cmake:build-linux-${{ matrix.platform }}-deps-buildcache,mode=max
