name: Linux (Custom)

on:
  workflow_dispatch:
    inputs:
      version:
        default: 'latest'
        description: 'Package version'
        type: string
        required: true
      run_test:
        description: 'Run Test ?'
        required: true
        type: string
        default: 'true'

env:
  app_name: 'cmake'
  app_repo: 'Kitware/CMake'

jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      app_version: ${{ steps.get-version.outputs.app_version }}
    steps:
      - uses: actions/checkout@v5

      - name: Get Version
        id: get-version
        run: |
          if [ "${{ github.event_name }}" = "schedule" ] || [ "${{ github.event.inputs.version }}" = "latest" ]; then
            app_version=$(curl -s "https://api.github.com/repos/${{ env.app_repo }}/releases/latest" | jq -r .tag_name)
          else
            app_version=${{ github.event.inputs.version }}
          fi
          if [ -z "${app_version}" ] || [ "${app_version}" == "null" ]; then
            echo "Failed to get version"
            exit 1
          fi
          
          echo "app_version=${app_version}" >> $GITHUB_ENV
          echo "app_version=${app_version}" >> $GITHUB_OUTPUT
          echo ""
          echo "========== Build Args =========="
          echo "app_version=${app_version}"

  build:
    runs-on: ${{ matrix.runner }}
    needs: check
    env:
      app_version: ${{ needs.check.outputs.app_version }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: amd64
            platform: x86_64
            runner: ubuntu-24.04
          - arch: arm64
            platform: aarch64
            runner: ubuntu-24.04-arm
          - arch: loong64
            platform: loongarch64
            runner: ubuntu-24.04
          - arch: ppc64le
            platform: ppc64le
            runner: ubuntu-24.04
          - arch: riscv64
            platform: riscv64
            runner: ubuntu-24.04
          - arch: s390x
            platform: s390x
            runner: ubuntu-24.04

    steps:
      - name: Get Version
        run: |
          echo "app_version=${app_version}"

      - uses: actions/checkout@v5
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: Utilities/Release/linux/${{ matrix.platform }}
          platforms: linux/${{ matrix.arch }}
          load: true
          push: false
          build-args: |
            VERSION=${{ env.app_version }}
            TEST=${{ inputs.run_test }}
          tags: |
            ghcr.io/${{ github.repository_owner }}/kitware/cmake:${{ env.app_version }}

      - name: Check Binaries
        run: |
          mkdir -p dist
          docker run --rm \
            -v $(pwd)/dist:/dist \
            ghcr.io/${{ github.repository_owner }}/kitware/cmake:${{ env.app_version }} \
            bash -c 'cp -f /out/* /dist/'

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: cmake-linux-${{ matrix.arch }}
          path: dist

  release:
    needs:
      - check
      - build
    env:
      app_version: ${{ needs.check.outputs.app_version }}
    runs-on: ubuntu-24.04
    steps:
      - name: Get source
        uses: actions/checkout@v5

      - name: Download release
        uses: actions/download-artifact@v5
        with:
          pattern: cmake-*
          path: dist
          merge-multiple: true

      - name: Check Binaries
        run: |
          cd dist
          sha256sum cmake-* > cmake-${version/v/}-SHA-256.txt
          ls -al

      - name: Create GitHub Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          TAG_NAME="${{ env.app_version }}"
          gh release view ${TAG_NAME} -R ${{ github.repository }} >/dev/null 2>&1 || gh release create "${TAG_NAME}" --generate-notes --title "${TAG_NAME}"
          gh release upload ${TAG_NAME} -R ${{ github.repository }} dist/* --clobber
